.channel-item {
    padding: 5px;
    margin: 4px 0;
    border-radius: 4px;
    cursor: pointer;
}

.channel-item a {
    text-decoration: none;
    color: #000;
}

.channel-item:hover {
    background-color: #f0f0f0; /* Color de fondo en hover */
}