.chat-item-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 70%; /* Limitar el ancho del chat */
}

p {
    margin: 0;
}